.section-regular-customers__title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex;
  justify-content: center;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__icon {
      box-sizing: border-box;
      border: 1px solid var(--social-lincs-client-color);
      border-radius: 4px;
      fill: var(--social-lincs-client-color);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 92px;
        &:hover,
        &:focus {
          border: 1px solid var(--aiming-color);
          fill: var(--aiming-color);
        }
    }
}